USE [master]
GO
CREATE DATABASE [MittenMaterial]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MittenMaterial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MittenMaterial]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 11/28/2022 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MaterialTypeId] [int] NOT NULL,
	[ImagePath] [nvarchar](100) NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NULL,
	[MinQuantity] [int] NULL,
	[BoxQuantity] [int] NULL,
	[UnitTypeId] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 11/28/2022 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 11/28/2022 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SupplierTypeId] [int] NOT NULL,
	[INN] [float] NOT NULL,
	[Rating] [int] NOT NULL,
	[StartWork] [date] NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierMaterial]    Script Date: 11/28/2022 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierMaterial](
	[MaterialId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
 CONSTRAINT [PK_SupplierMaterial] PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC,
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierType]    Script Date: 11/28/2022 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SupplierType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitType]    Script Date: 11/28/2022 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UnitType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [ImagePath], [Cost], [StockQuantity], [MinQuantity], [BoxQuantity], [UnitTypeId], [Image]) VALUES (3, N'Резина 3x3', 1, N'нет', CAST(42751.00 AS Decimal(18, 2)), 727, 46, 8, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([Id], [Value]) VALUES (1, N'Резина')
INSERT [dbo].[MaterialType] ([Id], [Value]) VALUES (2, N'Краска')
INSERT [dbo].[MaterialType] ([Id], [Value]) VALUES (3, N'Силикон')
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [Name], [SupplierTypeId], [INN], [Rating], [StartWork]) VALUES (1, N'ГаражТелекомГор', 1, 1718185951, 18, CAST(N'2018-11-26' AS Date))
INSERT [dbo].[Supplier] ([Id], [Name], [SupplierTypeId], [INN], [Rating], [StartWork]) VALUES (2, N'Компания Омск', 2, 1878504395, 49, CAST(N'2012-10-05' AS Date))
INSERT [dbo].[Supplier] ([Id], [Name], [SupplierTypeId], [INN], [Rating], [StartWork]) VALUES (3, N'ГорМонтаж', 3, 1564667734, 39, CAST(N'2013-10-07' AS Date))
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
INSERT [dbo].[SupplierMaterial] ([MaterialId], [SupplierId]) VALUES (1, 11)
INSERT [dbo].[SupplierMaterial] ([MaterialId], [SupplierId]) VALUES (2, 7)
INSERT [dbo].[SupplierMaterial] ([MaterialId], [SupplierId]) VALUES (2, 22)
GO
SET IDENTITY_INSERT [dbo].[SupplierType] ON 

INSERT [dbo].[SupplierType] ([Id], [Value]) VALUES (1, N' МКК')
INSERT [dbo].[SupplierType] ([Id], [Value]) VALUES (2, N' ОАО')
INSERT [dbo].[SupplierType] ([Id], [Value]) VALUES (3, N' ООО')
SET IDENTITY_INSERT [dbo].[SupplierType] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitType] ON 

INSERT [dbo].[UnitType] ([Id], [Value]) VALUES (1, N'м')
INSERT [dbo].[UnitType] ([Id], [Value]) VALUES (2, N'л')
INSERT [dbo].[UnitType] ([Id], [Value]) VALUES (3, N'кг')
SET IDENTITY_INSERT [dbo].[UnitType] OFF
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_UnitType] FOREIGN KEY([UnitTypeId])
REFERENCES [dbo].[UnitType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_UnitType]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_SupplierType] FOREIGN KEY([SupplierTypeId])
REFERENCES [dbo].[SupplierType] ([Id])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_SupplierType]
GO
ALTER TABLE [dbo].[SupplierMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SupplierMaterial_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[SupplierMaterial] CHECK CONSTRAINT [FK_SupplierMaterial_Material]
GO
ALTER TABLE [dbo].[SupplierMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SupplierMaterial_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[SupplierMaterial] CHECK CONSTRAINT [FK_SupplierMaterial_Supplier]
GO
USE [master]
GO
